openapi: "3.1.0"
x-mcp:
  transport: [stdio, http]
  orchestration: code
  endpoint_tools: hidden
info:
  title: Conduyt API
  version: "1.0.0"
  description: |
    The Conduyt CRM API provides programmatic access to your CRM data including
    contacts, companies, deals, pipelines, tasks, notes, automations, invoices,
    email sequences, and more.

    ## Authentication

    All authenticated endpoints require a Bearer token (API key) in the
    `Authorization` header:

    ```
    Authorization: Bearer cdy_<your-api-key>
    ```

    API keys are generated in **Settings > API Keys** within the Conduyt
    dashboard. Keys use the `cdy_` prefix and are hashed with bcrypt on
    creation — the full key is shown exactly once at creation time.

    Session cookie authentication (`conduyt_session`) is also supported for
    browser-based clients but is not recommended for integrations.

    ## Rate Limiting

    Most write endpoints enforce per-IP rate limits. When exceeded, the API
    returns `429 Too Many Requests` with a `Retry-After` header indicating
    seconds until the next allowed request.

    | Endpoint Group      | Limit               |
    |---------------------|---------------------|
    | Login               | 5 / 15 min per IP   |
    | Registration        | 3 / hour per IP     |
    | Contact/Deal create | 30 / min per IP     |
    | General             | 100 / 15 min per IP |

    ## Pagination

    List endpoints support cursor-based pagination via query parameters:

    - `page` — Page number (default: 1)
    - `per_page` — Items per page (default: 50, max: 200)

    Responses include a `meta` object: `{ page, per_page, total }`.

    ## Response Format

    All successful responses wrap data in a `data` envelope:
    ```json
    { "data": { ... } }
    ```

    Error responses use:
    ```json
    { "error": "Human-readable error message" }
    ```

    ## Multi-Tenancy

    Conduyt is multi-tenant. All data is scoped to the authenticated user's
    current account. API keys are bound to a specific account at creation time.

    ## Webhook Events

    Outbound webhooks fire on events including:
    `contact.created`, `contact.updated`, `contact.deleted`,
    `deal.created`, `deal.updated`, `deal.won`, `deal.lost`,
    `task.created`, `task.completed`, `note.created`,
    `appointment.created`, `appointment.updated`,
    `form.submitted`, `invoice.paid`

    Payloads are signed with HMAC-SHA256 using the webhook's secret. Retries
    follow exponential backoff: 1m, 5m, 15m, 1h, 6h, 24h, 72h (7 attempts).
  contact:
    name: Conduyt Support
    url: https://conduyt.app
    email: support@conduyt.app
  license:
    name: Proprietary
    url: https://conduyt.app/terms

servers:
  - url: https://conduyt.app/api/v1
    description: Production

tags:
  - name: Auth
    description: Authentication, registration, password management
  - name: Contacts
    description: Contact management, tagging, scoring, import/export, merge, duplicates
  - name: Companies
    description: Company (organization) management
  - name: Deals
    description: Deal/opportunity management within pipelines
  - name: Pipelines
    description: Sales pipeline and stage management
  - name: Tasks
    description: Task management with assignment and due dates
  - name: Notes
    description: Notes attached to contacts or deals
  - name: Tags
    description: Tag management and merging
  - name: Activities
    description: Activity feed and logging
  - name: Messages
    description: SMS and email message history
  - name: Email
    description: Send individual and bulk emails
  - name: Email Templates
    description: Reusable email/SMS templates
  - name: Email Sequences
    description: Multi-step email sequences with enrollment
  - name: Conversations
    description: Threaded conversation view per contact
  - name: Automations
    description: Workflow automations (native + n8n), publishing, analytics
  - name: Automation Executions
    description: Automation execution logs and step details
  - name: Workflows
    description: Simple trigger-action workflows
  - name: Drip Campaigns
    description: SMS drip campaign engine
  - name: Custom Fields
    description: Custom field definitions for contacts and deals
  - name: Calendars
    description: Internal calendar and appointment management
  - name: Calendar Connections
    description: Google / Microsoft calendar sync
  - name: Booking Pages
    description: Public booking pages (Calendly-style)
  - name: Appointments
    description: Appointment scheduling
  - name: Forms
    description: Lead capture forms and submissions
  - name: Invoices
    description: Invoice creation, sending, payments, PDF generation
  - name: Products
    description: Product catalog for invoices
  - name: Notifications
    description: In-app notifications
  - name: Files
    description: File uploads and attachments
  - name: API Keys
    description: API key management
  - name: Users
    description: Team member management and invitations
  - name: Settings
    description: Account settings, branding, SMS/Twilio configuration
  - name: Billing
    description: Stripe billing, checkout, and subscription status
  - name: Webhooks
    description: Outbound webhook management and logs
  - name: Integrations
    description: Third-party integrations (Zapier, etc.)
  - name: Reports
    description: Pipeline, revenue, activity, team, and custom reports
  - name: Search
    description: Global search across contacts, companies, deals
  - name: Bulk Operations
    description: Bulk update, delete, and tag contacts and deals
  - name: Imports
    description: CSV import jobs with mapping and deduplication
  - name: Smart Lists
    description: Static contact lists
  - name: Scoring Rules
    description: Lead scoring rule management
  - name: Document Templates
    description: Proposal and contract templates with merge fields
  - name: Email Domains
    description: Custom email domain verification (Resend)
  - name: Dialer
    description: Click-to-call dialer via Twilio
  - name: Calls
    description: Call log management
  - name: Chat
    description: Internal team chat channels and messages
  - name: Push Notifications
    description: Web push subscription management
  - name: Dashboard
    description: Dashboard summary metrics
  - name: AI
    description: AI-powered features (chat, email compose, contact enrichment)
  - name: Admin
    description: Super-admin account management and impersonation
  - name: Public
    description: Unauthenticated public endpoints (booking, form submit)

security:
  - BearerAuth: []

paths:
  # ──────────────────────────────────────────────
  # Auth
  # ──────────────────────────────────────────────
  /auth/register:
    post:
      operationId: register
      summary: Register a new account
      description: Creates a new user and account. Rate limited to 3 requests per hour per IP.
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, accountName]
              properties:
                email:
                  type: string
                  format: email
                  maxLength: 254
                password:
                  type: string
                  minLength: 8
                firstName:
                  type: string
                lastName:
                  type: string
                accountName:
                  type: string
                  minLength: 2
      responses:
        "200":
          description: Registration successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/login:
    post:
      operationId: login
      summary: Log in with email and password
      description: Authenticates user credentials and returns a session cookie. Rate limited to 5 requests per 15 minutes per IP.
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                accountId:
                  type: string
                  format: uuid
                  description: Target account ID (optional, defaults to first account)
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/logout:
    post:
      operationId: logout
      summary: Log out (destroy session)
      tags: [Auth]
      responses:
        "200":
          description: Logged out successfully

  /auth/me:
    get:
      operationId: getMe
      summary: Get current authenticated user
      tags: [Auth]
      responses:
        "200":
          description: Current user and account info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/change-password:
    post:
      operationId: changePassword
      summary: Change password (authenticated)
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currentPassword, newPassword]
              properties:
                currentPassword:
                  type: string
                newPassword:
                  type: string
                  minLength: 8
      responses:
        "200":
          description: Password changed
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/forgot-password:
    post:
      operationId: forgotPassword
      summary: Request a password reset email
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: Reset email sent (always returns 200 to prevent email enumeration)

  /auth/reset-password:
    post:
      operationId: resetPassword
      summary: Reset password with token
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, password]
              properties:
                token:
                  type: string
                password:
                  type: string
                  minLength: 8
      responses:
        "200":
          description: Password reset successful
        "400":
          $ref: "#/components/responses/BadRequest"

  /auth/switch-account:
    post:
      operationId: switchAccount
      summary: Switch to a different account
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accountId]
              properties:
                accountId:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Account switched successfully
        "403":
          $ref: "#/components/responses/Forbidden"

  /auth/accept-invite:
    post:
      operationId: acceptInvite
      summary: Accept a team invitation
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, password]
              properties:
                token:
                  type: string
                password:
                  type: string
                  minLength: 8
                firstName:
                  type: string
                lastName:
                  type: string
      responses:
        "200":
          description: Invite accepted, session created
        "400":
          $ref: "#/components/responses/BadRequest"

  # ──────────────────────────────────────────────
  # Contacts
  # ──────────────────────────────────────────────
  /contacts:
    get:
      operationId: listContacts
      summary: List contacts
      description: |
        Returns a paginated list of contacts. Supports search, filtering by tag,
        source, company, assigned user, date ranges, lead score, and smart views.

        Smart views: `needs_follow_up`, `hot_leads`, `new_this_week`,
        `recently_won`, `untagged`, `missing_email`, `missing_phone`.
      tags: [Contacts]
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/SearchParam"
        - name: tag
          in: query
          schema:
            type: string
          description: Filter by single tag name
        - name: tags
          in: query
          schema:
            type: string
          description: Filter by comma-separated tag names
        - name: source
          in: query
          schema:
            type: string
        - name: company
          in: query
          schema:
            type: string
        - name: assigned_to
          in: query
          schema:
            type: string
            format: uuid
        - name: created_from
          in: query
          schema:
            type: string
            format: date-time
        - name: created_to
          in: query
          schema:
            type: string
            format: date-time
        - name: updated_from
          in: query
          schema:
            type: string
            format: date-time
        - name: updated_to
          in: query
          schema:
            type: string
            format: date-time
        - name: min_score
          in: query
          schema:
            type: integer
          description: Minimum lead score filter
        - name: smart_view
          in: query
          schema:
            type: string
            enum:
              - needs_follow_up
              - hot_leads
              - new_this_week
              - recently_won
              - untagged
              - missing_email
              - missing_phone
        - name: sort
          in: query
          schema:
            type: string
            enum: [createdAt, updatedAt, firstName, lastName, email, company, leadScore]
            default: createdAt
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        "200":
          description: Paginated list of contacts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createContact
      summary: Create a contact
      description: Creates a new contact. Rate limited to 30 requests per minute.
      tags: [Contacts]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactCreate"
      responses:
        "201":
          description: Contact created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"
        "402":
          description: Trial expired or contact limit reached
        "413":
          description: Custom fields payload too large
        "429":
          $ref: "#/components/responses/RateLimited"

  /contacts/{id}:
    get:
      operationId: getContact
      summary: Get a contact by ID
      tags: [Contacts]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Contact details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataEnvelope"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateContact
      summary: Update a contact
      tags: [Contacts]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactUpdate"
      responses:
        "200":
          description: Contact updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteContact
      summary: Soft-delete a contact
      tags: [Contacts]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Contact deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /contacts/{id}/tags:
    post:
      operationId: addContactTag
      summary: Add a tag to a contact
      tags: [Contacts]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tagId]
              properties:
                tagId:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Tag added
        "404":
          $ref: "#/components/responses/NotFound"

  /contacts/{id}/tags/{tagId}:
    delete:
      operationId: removeContactTag
      summary: Remove a tag from a contact
      tags: [Contacts]
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - name: tagId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Tag removed
        "404":
          $ref: "#/components/responses/NotFound"

  /contacts/{id}/score:
    get:
      operationId: getContactScore
      summary: Get a contact's lead score breakdown
      tags: [Contacts]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Score details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataEnvelope"
        "404":
          $ref: "#/components/responses/NotFound"

  /contacts/duplicates:
    get:
      operationId: findDuplicateContacts
      summary: Find duplicate contacts
      tags: [Contacts]
      responses:
        "200":
          description: List of duplicate contact groups
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataEnvelope"

  /contacts/merge:
    post:
      operationId: mergeContacts
      summary: Merge two contacts
      tags: [Contacts]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [primaryId, secondaryId]
              properties:
                primaryId:
                  type: string
                  format: uuid
                  description: Contact to keep
                secondaryId:
                  type: string
                  format: uuid
                  description: Contact to merge into primary (will be deleted)
      responses:
        "200":
          description: Contacts merged
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /contacts/export:
    get:
      operationId: exportContacts
      summary: Export contacts as CSV
      tags: [Contacts]
      responses:
        "200":
          description: CSV file download
          content:
            text/csv:
              schema:
                type: string

  /contacts/import:
    post:
      operationId: importContacts
      summary: Import contacts from CSV
      tags: [Contacts]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: Import results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataEnvelope"

  /contacts/import/template:
    get:
      operationId: getImportTemplate
      summary: Download CSV import template
      tags: [Contacts]
      responses:
        "200":
          description: CSV template
          content:
            text/csv:
              schema:
                type: string

  /contacts/smart-views:
    get:
      operationId: listSmartViews
      summary: List available smart view definitions
      tags: [Contacts]
      responses:
        "200":
          description: Smart view configurations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataEnvelope"

  /contact:
    post:
      operationId: upsertContact
      summary: Upsert a contact (webhook-friendly)
      description: Creates or updates a contact by email or phone match. Designed for inbound webhook integrations.
      tags: [Contacts]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactCreate"
      responses:
        "200":
          description: Contact created or updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataEnvelope"

  # ──────────────────────────────────────────────
  # Companies
  # ──────────────────────────────────────────────
  /companies:
    get:
      operationId: listCompanies
      summary: List companies
      tags: [Companies]
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/SearchParam"
        - name: industry
          in: query
          schema:
            type: string
        - name: size
          in: query
          schema:
            type: string
            enum: ["1-10", "11-50", "51-200", "201-500", "501-1000", "1001+"]
        - name: sort
          in: query
          schema:
            type: string
            enum: [createdAt, updatedAt, name]
            default: createdAt
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        "200":
          description: Paginated list of companies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"
    post:
      operationId: createCompany
      summary: Create a company
      tags: [Companies]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyCreate"
      responses:
        "201":
          description: Company created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"

  /companies/{id}:
    get:
      operationId: getCompany
      summary: Get a company by ID
      tags: [Companies]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Company details with contact/deal counts and total value
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataEnvelope"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateCompany
      summary: Update a company
      tags: [Companies]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyCreate"
      responses:
        "200":
          description: Company updated
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteCompany
      summary: Soft-delete a company
      tags: [Companies]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Company deleted
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────
  # Deals
  # ──────────────────────────────────────────────
  /deals:
    get:
      operationId: listDeals
      summary: List deals
      description: Returns deals with Kanban-optimized sort order (stage, sortOrder, then requested sort).
      tags: [Deals]
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
        - name: pipeline
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by pipeline ID
        - name: stage
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by stage ID
        - name: status
          in: query
          schema:
            type: string
            enum: [open, won, lost]
        - name: assigned_to
          in: query
          schema:
            type: string
            format: uuid
        - name: sort
          in: query
          schema:
            type: string
            enum: [createdAt, updatedAt, title, value]
            default: createdAt
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        "200":
          description: Paginated list of deals
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"
    post:
      operationId: createDeal
      summary: Create a deal
      description: Creates a new deal in a pipeline stage. Rate limited to 30 requests per minute.
      tags: [Deals]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DealCreate"
      responses:
        "201":
          description: Deal created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          description: Pipeline or stage not found
        "429":
          $ref: "#/components/responses/RateLimited"

  /deals/{id}:
    get:
      operationId: getDeal
      summary: Get a deal by ID
      tags: [Deals]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Deal details with contact, stage, pipeline, and assigned user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataEnvelope"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateDeal
      summary: Update a deal
      tags: [Deals]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DealUpdate"
      responses:
        "200":
          description: Deal updated
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteDeal
      summary: Soft-delete a deal
      tags: [Deals]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Deal deleted
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────
  # Pipelines
  # ──────────────────────────────────────────────
  /pipelines:
    get:
      operationId: listPipelines
      summary: List pipelines with stages
      tags: [Pipelines]
      responses:
        "200":
          description: All pipelines with their stages
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataEnvelope"
    post:
      operationId: createPipeline
      summary: Create a pipeline
      description: Requires owner or admin role. Subject to plan limits.
      tags: [Pipelines]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                description:
                  type: string
                stages:
                  type: array
                  items:
                    type: object
                    required: [name]
                    properties:
                      name:
                        type: string
                      color:
                        type: string
                      isWon:
                        type: boolean
                      isLost:
                        type: boolean
      responses:
        "201":
          description: Pipeline created with stages
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataEnvelope"
        "402":
          description: Trial expired
        "403":
          description: Pipeline limit reached or insufficient role

  /pipelines/{id}:
    get:
      operationId: getPipeline
      summary: Get a pipeline by ID
      tags: [Pipelines]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Pipeline with stages
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updatePipeline
      summary: Update a pipeline
      tags: [Pipelines]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
      responses:
        "200":
          description: Pipeline updated
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deletePipeline
      summary: Delete a pipeline
      tags: [Pipelines]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Pipeline deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /pipelines/{id}/stages:
    get:
      operationId: listPipelineStages
      summary: List stages for a pipeline
      tags: [Pipelines]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Ordered list of stages
    post:
      operationId: createPipelineStage
      summary: Add a stage to a pipeline
      tags: [Pipelines]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PipelineStageCreate"
      responses:
        "201":
          description: Stage created

  /pipelines/{id}/stages/{stageId}:
    patch:
      operationId: updatePipelineStage
      summary: Update a pipeline stage
      tags: [Pipelines]
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - name: stageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PipelineStageCreate"
      responses:
        "200":
          description: Stage updated
    delete:
      operationId: deletePipelineStage
      summary: Delete a pipeline stage
      tags: [Pipelines]
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - name: stageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Stage deleted

  # ──────────────────────────────────────────────
  # Tasks
  # ──────────────────────────────────────────────
  /tasks:
    get:
      operationId: listTasks
      summary: List tasks
      tags: [Tasks]
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
        - $ref: "#/components/parameters/SearchParam"
        - name: status
          in: query
          schema:
            type: string
            enum: [todo, in_progress, done]
        - name: priority
          in: query
          schema:
            type: string
            enum: [low, medium, high, urgent]
        - name: assigned_to
          in: query
          schema:
            type: string
            format: uuid
        - name: contact_id
          in: query
          schema:
            type: string
            format: uuid
        - name: deal_id
          in: query
          schema:
            type: string
            format: uuid
        - name: sort
          in: query
          schema:
            type: string
            enum: [createdAt, updatedAt, dueDate, priority, title, status]
            default: createdAt
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        "200":
          description: Paginated list of tasks
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"
    post:
      operationId: createTask
      summary: Create a task
      tags: [Tasks]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaskCreate"
      responses:
        "201":
          description: Task created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"

  /tasks/{id}:
    get:
      operationId: getTask
      summary: Get a task by ID
      tags: [Tasks]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Task details
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateTask
      summary: Update a task
      tags: [Tasks]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaskCreate"
      responses:
        "200":
          description: Task updated
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteTask
      summary: Delete a task
      tags: [Tasks]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Task deleted
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────
  # Notes
  # ──────────────────────────────────────────────
  /notes:
    get:
      operationId: listNotes
      summary: List notes
      tags: [Notes]
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
        - name: contact_id
          in: query
          schema:
            type: string
            format: uuid
        - name: deal_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Paginated list of notes (pinned first)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"
    post:
      operationId: createNote
      summary: Create a note
      description: Body is capped at 50 KB. Returns 413 if exceeded.
      tags: [Notes]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NoteCreate"
      responses:
        "201":
          description: Note created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"
        "413":
          description: Note body exceeds 50 KB limit

  /notes/{id}:
    get:
      operationId: getNote
      summary: Get a note by ID
      tags: [Notes]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Note details
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateNote
      summary: Update a note
      tags: [Notes]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
                isPinned:
                  type: boolean
      responses:
        "200":
          description: Note updated
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteNote
      summary: Delete a note
      tags: [Notes]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Note deleted
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────
  # Tags
  # ──────────────────────────────────────────────
  /tags:
    get:
      operationId: listTags
      summary: List tags
      tags: [Tags]
      responses:
        "200":
          description: All tags for the account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataEnvelope"
    post:
      operationId: createTag
      summary: Create a tag
      tags: [Tags]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                color:
                  type: string
                  default: "#6B7280"
      responses:
        "201":
          description: Tag created
        "400":
          $ref: "#/components/responses/BadRequest"

  /tags/{id}:
    patch:
      operationId: updateTag
      summary: Update a tag
      tags: [Tags]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                color:
                  type: string
      responses:
        "200":
          description: Tag updated
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteTag
      summary: Delete a tag
      tags: [Tags]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Tag deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /tags/merge:
    post:
      operationId: mergeTags
      summary: Merge two tags
      tags: [Tags]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sourceId, targetId]
              properties:
                sourceId:
                  type: string
                  format: uuid
                  description: Tag to merge from (will be deleted)
                targetId:
                  type: string
                  format: uuid
                  description: Tag to merge into (will be kept)
      responses:
        "200":
          description: Tags merged
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────
  # Activities
  # ──────────────────────────────────────────────
  /activities:
    get:
      operationId: listActivities
      summary: List activities
      tags: [Activities]
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
        - name: contact_id
          in: query
          schema:
            type: string
            format: uuid
        - name: deal_id
          in: query
          schema:
            type: string
            format: uuid
        - name: type
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Paginated activity feed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"
    post:
      operationId: createActivity
      summary: Log an activity
      tags: [Activities]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, title]
              properties:
                type:
                  type: string
                title:
                  type: string
                description:
                  type: string
                contactId:
                  type: string
                  format: uuid
                dealId:
                  type: string
                  format: uuid
                metadata:
                  type: object
      responses:
        "201":
          description: Activity logged

  # ──────────────────────────────────────────────
  # Messages
  # ──────────────────────────────────────────────
  /messages:
    get:
      operationId: listMessages
      summary: List messages
      tags: [Messages]
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
        - name: contact_id
          in: query
          schema:
            type: string
            format: uuid
        - name: channel
          in: query
          schema:
            type: string
            enum: [sms, email]
        - name: direction
          in: query
          schema:
            type: string
            enum: [inbound, outbound]
      responses:
        "200":
          description: Paginated messages
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"
    post:
      operationId: createMessage
      summary: Create a message record
      tags: [Messages]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MessageCreate"
      responses:
        "201":
          description: Message created
        "400":
          $ref: "#/components/responses/BadRequest"

  /messages/sms/{id}:
    get:
      operationId: getSmsMessage
      summary: Get an SMS message by ID
      tags: [Messages]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: SMS message details
        "404":
          $ref: "#/components/responses/NotFound"

  /messages/sms/send:
    post:
      operationId: sendSms
      summary: Send an SMS message
      tags: [Messages]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contactId, body]
              properties:
                contactId:
                  type: string
                  format: uuid
                body:
                  type: string
                  maxLength: 1600
      responses:
        "200":
          description: SMS sent
        "400":
          $ref: "#/components/responses/BadRequest"

  # ──────────────────────────────────────────────
  # Email (send)
  # ──────────────────────────────────────────────
  /email/send:
    post:
      operationId: sendEmail
      summary: Send an email to a contact
      tags: [Email]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contactId, subject, body]
              properties:
                contactId:
                  type: string
                  format: uuid
                subject:
                  type: string
                  maxLength: 500
                body:
                  type: string
                bodyHtml:
                  type: string
                scheduledAt:
                  type: string
                  format: date-time
      responses:
        "200":
          description: Email sent or scheduled
        "400":
          $ref: "#/components/responses/BadRequest"

  /email/send-bulk:
    post:
      operationId: sendBulkEmail
      summary: Send bulk emails
      tags: [Email]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contactIds, subject, body]
              properties:
                contactIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                subject:
                  type: string
                body:
                  type: string
                bodyHtml:
                  type: string
      responses:
        "200":
          description: Bulk send initiated

  /emails:
    get:
      operationId: listEmails
      summary: List email messages
      tags: [Email]
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
      responses:
        "200":
          description: Paginated email messages

  # ──────────────────────────────────────────────
  # Email Templates
  # ──────────────────────────────────────────────
  /emails/templates:
    get:
      operationId: listEmailTemplates
      summary: List email templates
      tags: [Email Templates]
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
      responses:
        "200":
          description: Paginated templates
    post:
      operationId: createEmailTemplate
      summary: Create an email template
      tags: [Email Templates]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailTemplateCreate"
      responses:
        "201":
          description: Template created

  /emails/templates/{id}:
    get:
      operationId: getEmailTemplate
      summary: Get an email template by ID
      tags: [Email Templates]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Template details
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateEmailTemplate
      summary: Update an email template
      tags: [Email Templates]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailTemplateCreate"
      responses:
        "200":
          description: Template updated
    delete:
      operationId: deleteEmailTemplate
      summary: Delete an email template
      tags: [Email Templates]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Template deleted

  /emails/templates/test-send:
    post:
      operationId: testSendEmailTemplate
      summary: Send a test email from a template
      tags: [Email Templates]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [templateId, toEmail]
              properties:
                templateId:
                  type: string
                  format: uuid
                toEmail:
                  type: string
                  format: email
      responses:
        "200":
          description: Test email sent

  # ──────────────────────────────────────────────
  # Email Sequences
  # ──────────────────────────────────────────────
  /emails/sequences:
    get:
      operationId: listEmailSequences
      summary: List email sequences
      tags: [Email Sequences]
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
      responses:
        "200":
          description: Paginated sequences
    post:
      operationId: createEmailSequence
      summary: Create an email sequence
      tags: [Email Sequences]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, steps]
              properties:
                name:
                  type: string
                description:
                  type: string
                steps:
                  type: array
                  items:
                    type: object
                    properties:
                      subject:
                        type: string
                      body:
                        type: string
                      delayDays:
                        type: integer
      responses:
        "201":
          description: Sequence created

  /emails/sequences/{id}:
    get:
      operationId: getEmailSequence
      summary: Get an email sequence by ID
      tags: [Email Sequences]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Sequence details with steps
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateEmailSequence
      summary: Update an email sequence
      tags: [Email Sequences]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                isActive:
                  type: boolean
                steps:
                  type: array
                  items:
                    type: object
      responses:
        "200":
          description: Sequence updated

  /emails/sequences/{id}/enroll:
    post:
      operationId: enrollInSequence
      summary: Enroll contacts in a sequence
      tags: [Email Sequences]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contactIds]
              properties:
                contactIds:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        "200":
          description: Contacts enrolled

  /emails/sequences/{id}/unenroll:
    post:
      operationId: unenrollFromSequence
      summary: Unenroll contacts from a sequence
      tags: [Email Sequences]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contactIds]
              properties:
                contactIds:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        "200":
          description: Contacts unenrolled

  /emails/sequences/{id}/enrollments:
    get:
      operationId: listSequenceEnrollments
      summary: List enrollments for a sequence
      tags: [Email Sequences]
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
      responses:
        "200":
          description: Paginated enrollments

  /emails/sequences/{id}/stats:
    get:
      operationId: getSequenceStats
      summary: Get sequence performance stats
      tags: [Email Sequences]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Sequence stats (enrolled, completed, open rate, click rate)

  # ──────────────────────────────────────────────
  # Conversations
  # ──────────────────────────────────────────────
  /conversations:
    get:
      operationId: listConversations
      summary: List conversation threads
      tags: [Conversations]
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
      responses:
        "200":
          description: Paginated conversations

  /conversations/{contactId}:
    get:
      operationId: getConversation
      summary: Get conversation thread for a contact
      tags: [Conversations]
      parameters:
        - name: contactId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Messages for this contact thread
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────
  # Automations
  # ──────────────────────────────────────────────
  /automations:
    get:
      operationId: listAutomations
      summary: List automations
      tags: [Automations]
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
      responses:
        "200":
          description: Paginated automations
    post:
      operationId: createAutomation
      summary: Create an automation
      tags: [Automations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AutomationCreate"
      responses:
        "201":
          description: Automation created

  /automations/{id}:
    get:
      operationId: getAutomation
      summary: Get an automation by ID
      tags: [Automations]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Automation details
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateAutomation
      summary: Update an automation
      tags: [Automations]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AutomationCreate"
      responses:
        "200":
          description: Automation updated
    delete:
      operationId: deleteAutomation
      summary: Delete an automation
      tags: [Automations]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Automation deleted

  /automations/{id}/publish:
    post:
      operationId: publishAutomation
      summary: Publish an automation's draft graph
      tags: [Automations]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Automation published

  /automations/{id}/dry-run:
    post:
      operationId: dryRunAutomation
      summary: Dry-run an automation without side effects
      tags: [Automations]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contactId:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Dry-run results

  /automations/{id}/bulk-enroll:
    post:
      operationId: bulkEnrollAutomation
      summary: Bulk-enroll contacts into an automation
      tags: [Automations]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contactIds]
              properties:
                contactIds:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        "200":
          description: Contacts enrolled

  /automations/{id}/analytics:
    get:
      operationId: getAutomationAnalytics
      summary: Get automation analytics
      tags: [Automations]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Automation analytics (trigger count, success/fail rates)

  /automations/{id}/node-stats:
    get:
      operationId: getAutomationNodeStats
      summary: Get per-node execution stats for an automation
      tags: [Automations]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Node-level stats

  /automations/{id}/step-logs:
    get:
      operationId: getAutomationStepLogs
      summary: Get step-level execution logs for an automation
      tags: [Automations]
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
      responses:
        "200":
          description: Step logs

  /automations/events:
    get:
      operationId: listAutomationEvents
      summary: List available trigger events
      tags: [Automations]
      responses:
        "200":
          description: Trigger event definitions

  /automations/actions:
    get:
      operationId: listAutomationActions
      summary: List available automation actions
      tags: [Automations]
      responses:
        "200":
          description: Action type definitions

  /automations/condition-fields:
    get:
      operationId: listAutomationConditionFields
      summary: List available condition fields for triggers
      tags: [Automations]
      responses:
        "200":
          description: Condition field definitions

  /automations/templates:
    get:
      operationId: listAutomationTemplates
      summary: List automation templates
      tags: [Automations]
      responses:
        "200":
          description: Pre-built automation templates
    post:
      operationId: createFromAutomationTemplate
      summary: Create automation from a template
      tags: [Automations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [templateId]
              properties:
                templateId:
                  type: string
      responses:
        "201":
          description: Automation created from template

  /automations/webhook-test:
    post:
      operationId: testAutomationWebhook
      summary: Send a test payload to an automation's webhook URL
      tags: [Automations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
                payload:
                  type: object
      responses:
        "200":
          description: Test webhook response

  # ──────────────────────────────────────────────
  # Automation Executions
  # ──────────────────────────────────────────────
  /automation-executions:
    get:
      operationId: listAutomationExecutions
      summary: List automation execution logs
      tags: [Automation Executions]
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
      responses:
        "200":
          description: Paginated execution logs

  /automation-executions/{id}:
    get:
      operationId: getAutomationExecution
      summary: Get execution details by ID
      tags: [Automation Executions]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Execution details with step logs
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────
  # Workflows
  # ──────────────────────────────────────────────
  /workflows:
    get:
      operationId: listWorkflows
      summary: List workflows
      tags: [Workflows]
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
      responses:
        "200":
          description: Paginated workflows
    post:
      operationId: createWorkflow
      summary: Create a workflow
      tags: [Workflows]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, trigger, actions]
              properties:
                name:
                  type: string
                description:
                  type: string
                trigger:
                  type: object
                actions:
                  type: array
                  items:
                    type: object
                isActive:
                  type: boolean
      responses:
        "201":
          description: Workflow created

  /workflows/{id}:
    get:
      operationId: getWorkflow
      summary: Get a workflow by ID
      tags: [Workflows]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Workflow details
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateWorkflow
      summary: Update a workflow
      tags: [Workflows]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                trigger:
                  type: object
                actions:
                  type: array
                  items:
                    type: object
      responses:
        "200":
          description: Workflow updated
    delete:
      operationId: deleteWorkflow
      summary: Delete a workflow
      tags: [Workflows]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Workflow deleted

  /workflows/{id}/activate:
    post:
      operationId: activateWorkflow
      summary: Activate a workflow
      tags: [Workflows]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Workflow activated

  /workflows/{id}/deactivate:
    post:
      operationId: deactivateWorkflow
      summary: Deactivate a workflow
      tags: [Workflows]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Workflow deactivated

  /workflows/{id}/test:
    post:
      operationId: testWorkflow
      summary: Test a workflow with sample data
      tags: [Workflows]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                contactId:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Test run results

  /workflows/{id}/runs:
    get:
      operationId: listWorkflowRuns
      summary: List runs for a workflow
      tags: [Workflows]
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
      responses:
        "200":
          description: Paginated workflow runs

  /workflows/{id}/runs/{runId}:
    get:
      operationId: getWorkflowRun
      summary: Get a workflow run by ID
      tags: [Workflows]
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - name: runId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Run details with step results
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────
  # Drip Campaigns
  # ──────────────────────────────────────────────
  /drip-campaigns:
    get:
      operationId: listDripCampaigns
      summary: List SMS drip campaigns
      tags: [Drip Campaigns]
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
      responses:
        "200":
          description: Paginated drip campaigns
    post:
      operationId: createDripCampaign
      summary: Create a drip campaign
      tags: [Drip Campaigns]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DripCampaignCreate"
      responses:
        "201":
          description: Drip campaign created

  /drip-campaigns/{id}:
    patch:
      operationId: updateDripCampaign
      summary: Update a drip campaign
      tags: [Drip Campaigns]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Drip campaign updated
    delete:
      operationId: deleteDripCampaign
      summary: Delete a drip campaign
      tags: [Drip Campaigns]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Drip campaign deleted

  /drip-campaigns/seed:
    post:
      operationId: seedDripCampaigns
      summary: Seed default drip campaigns
      tags: [Drip Campaigns]
      responses:
        "200":
          description: Default campaigns seeded

  /drip-enrollments:
    get:
      operationId: listDripEnrollments
      summary: List drip enrollments
      tags: [Drip Campaigns]
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
      responses:
        "200":
          description: Paginated drip enrollments

  # ──────────────────────────────────────────────
  # Custom Fields
  # ──────────────────────────────────────────────
  /custom-fields:
    get:
      operationId: listCustomFields
      summary: List custom field definitions
      tags: [Custom Fields]
      parameters:
        - name: entity_type
          in: query
          schema:
            type: string
            enum: [contact, deal]
      responses:
        "200":
          description: Custom field definitions
    post:
      operationId: createCustomField
      summary: Create a custom field definition
      tags: [Custom Fields]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomFieldCreate"
      responses:
        "201":
          description: Custom field created

  /custom-fields/{id}:
    patch:
      operationId: updateCustomField
      summary: Update a custom field definition
      tags: [Custom Fields]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomFieldCreate"
      responses:
        "200":
          description: Custom field updated
    delete:
      operationId: deleteCustomField
      summary: Delete a custom field definition
      tags: [Custom Fields]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Custom field deleted

  # ──────────────────────────────────────────────
  # Calendars (internal)
  # ──────────────────────────────────────────────
  /calendars:
    get:
      operationId: listCalendars
      summary: List internal calendars
      tags: [Calendars]
      responses:
        "200":
          description: All calendars
    post:
      operationId: createCalendar
      summary: Create a calendar
      tags: [Calendars]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                description:
                  type: string
                timezone:
                  type: string
                  default: America/Los_Angeles
      responses:
        "201":
          description: Calendar created

  /calendars/{id}:
    get:
      operationId: getCalendar
      summary: Get a calendar by ID
      tags: [Calendars]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Calendar details
    patch:
      operationId: updateCalendar
      summary: Update a calendar
      tags: [Calendars]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Calendar updated

  /calendars/{id}/appointments:
    get:
      operationId: listCalendarAppointments
      summary: List appointments in a calendar
      tags: [Calendars]
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
      responses:
        "200":
          description: Paginated appointments
    post:
      operationId: createCalendarAppointment
      summary: Create an appointment in a calendar
      tags: [Calendars]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppointmentCreate"
      responses:
        "201":
          description: Appointment created

  /calendars/{id}/appointments/{appointmentId}:
    get:
      operationId: getCalendarAppointment
      summary: Get an appointment by ID
      tags: [Calendars]
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - name: appointmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Appointment details
    patch:
      operationId: updateCalendarAppointment
      summary: Update an appointment
      tags: [Calendars]
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - name: appointmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Appointment updated
    delete:
      operationId: deleteCalendarAppointment
      summary: Delete an appointment
      tags: [Calendars]
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - name: appointmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Appointment deleted

  # ──────────────────────────────────────────────
  # Appointments (top-level)
  # ──────────────────────────────────────────────
  /appointments:
    get:
      operationId: listAppointments
      summary: List all appointments
      tags: [Appointments]
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
      responses:
        "200":
          description: Paginated appointments
    post:
      operationId: createAppointment
      summary: Create an appointment
      tags: [Appointments]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppointmentCreate"
      responses:
        "201":
          description: Appointment created

  /appointments/{id}:
    get:
      operationId: getAppointment
      summary: Get an appointment by ID
      tags: [Appointments]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Appointment details
    patch:
      operationId: updateAppointment
      summary: Update an appointment
      tags: [Appointments]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Appointment updated
    delete:
      operationId: deleteAppointment
      summary: Delete an appointment
      tags: [Appointments]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Appointment deleted

  # ──────────────────────────────────────────────
  # Calendar Connections (Google/Microsoft)
  # ──────────────────────────────────────────────
  /calendar/connect/google:
    post:
      operationId: connectGoogleCalendar
      summary: Initiate Google Calendar OAuth
      tags: [Calendar Connections]
      responses:
        "200":
          description: OAuth redirect URL

  /calendar/connect/microsoft:
    post:
      operationId: connectMicrosoftCalendar
      summary: Initiate Microsoft Calendar OAuth
      tags: [Calendar Connections]
      responses:
        "200":
          description: OAuth redirect URL

  /calendar/callback/google:
    get:
      operationId: googleCalendarCallback
      summary: Google Calendar OAuth callback
      tags: [Calendar Connections]
      security: []
      responses:
        "302":
          description: Redirect to dashboard

  /calendar/callback/microsoft:
    get:
      operationId: microsoftCalendarCallback
      summary: Microsoft Calendar OAuth callback
      tags: [Calendar Connections]
      security: []
      responses:
        "302":
          description: Redirect to dashboard

  /calendar/connections:
    get:
      operationId: listCalendarConnections
      summary: List calendar connections
      tags: [Calendar Connections]
      responses:
        "200":
          description: Active calendar connections

  /calendar/connections/{id}:
    get:
      operationId: getCalendarConnection
      summary: Get a calendar connection by ID
      tags: [Calendar Connections]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Connection details
    delete:
      operationId: deleteCalendarConnection
      summary: Disconnect a calendar
      tags: [Calendar Connections]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Calendar disconnected

  /calendar/events:
    get:
      operationId: listCalendarEvents
      summary: List synced calendar events
      tags: [Calendar Connections]
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
      responses:
        "200":
          description: Paginated calendar events
    post:
      operationId: createCalendarEvent
      summary: Create an event on a connected calendar
      tags: [Calendar Connections]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [calendarConnectionId, title, startAt, endAt]
              properties:
                calendarConnectionId:
                  type: string
                  format: uuid
                title:
                  type: string
                description:
                  type: string
                startAt:
                  type: string
                  format: date-time
                endAt:
                  type: string
                  format: date-time
                location:
                  type: string
      responses:
        "201":
          description: Event created

  /calendar/events/{id}:
    get:
      operationId: getCalendarEvent
      summary: Get a synced calendar event
      tags: [Calendar Connections]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Event details
    patch:
      operationId: updateCalendarEvent
      summary: Update a synced calendar event
      tags: [Calendar Connections]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Event updated
    delete:
      operationId: deleteCalendarEvent
      summary: Delete a synced calendar event
      tags: [Calendar Connections]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Event deleted

  /calendar/sync:
    post:
      operationId: syncCalendar
      summary: Trigger manual calendar sync
      tags: [Calendar Connections]
      responses:
        "200":
          description: Sync initiated

  # ──────────────────────────────────────────────
  # Booking Pages
  # ──────────────────────────────────────────────
  /booking-pages:
    get:
      operationId: listBookingPages
      summary: List booking pages
      tags: [Booking Pages]
      responses:
        "200":
          description: All booking pages
    post:
      operationId: createBookingPage
      summary: Create a booking page
      tags: [Booking Pages]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, slug, durationMinutes]
              properties:
                title:
                  type: string
                slug:
                  type: string
                description:
                  type: string
                durationMinutes:
                  type: integer
                  default: 30
                bufferBefore:
                  type: integer
                bufferAfter:
                  type: integer
                customQuestions:
                  type: array
                  items:
                    type: object
      responses:
        "201":
          description: Booking page created

  /booking-pages/{id}:
    get:
      operationId: getBookingPage
      summary: Get a booking page by ID
      tags: [Booking Pages]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Booking page details
    patch:
      operationId: updateBookingPage
      summary: Update a booking page
      tags: [Booking Pages]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Booking page updated
    delete:
      operationId: deleteBookingPage
      summary: Delete a booking page
      tags: [Booking Pages]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Booking page deleted

  /booking-pages/{id}/availability:
    get:
      operationId: getBookingPageAvailability
      summary: Get availability for a booking page
      tags: [Booking Pages]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Available time slots

  /availability:
    get:
      operationId: getAvailability
      summary: Get current user's availability rules
      tags: [Booking Pages]
      responses:
        "200":
          description: Availability rules
    put:
      operationId: setAvailability
      summary: Set availability rules
      tags: [Booking Pages]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rules]
              properties:
                rules:
                  type: array
                  items:
                    type: object
                    properties:
                      dayOfWeek:
                        type: integer
                        minimum: 0
                        maximum: 6
                      startTime:
                        type: string
                        description: "HH:mm format"
                      endTime:
                        type: string
                        description: "HH:mm format"
      responses:
        "200":
          description: Availability updated

  # ──────────────────────────────────────────────
  # Forms
  # ──────────────────────────────────────────────
  /forms:
    get:
      operationId: listForms
      summary: List forms
      tags: [Forms]
      responses:
        "200":
          description: All forms
    post:
      operationId: createForm
      summary: Create a form
      tags: [Forms]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, slug, fields]
              properties:
                name:
                  type: string
                slug:
                  type: string
                description:
                  type: string
                fields:
                  type: array
                  items:
                    type: object
                settings:
                  type: object
                redirectUrl:
                  type: string
                thankYouMessage:
                  type: string
      responses:
        "201":
          description: Form created

  /forms/{id}:
    get:
      operationId: getForm
      summary: Get a form by ID
      tags: [Forms]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Form details
    patch:
      operationId: updateForm
      summary: Update a form
      tags: [Forms]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Form updated
    delete:
      operationId: deleteForm
      summary: Delete a form
      tags: [Forms]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Form deleted

  /forms/{id}/submissions:
    get:
      operationId: listFormSubmissions
      summary: List submissions for a form
      tags: [Forms]
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
      responses:
        "200":
          description: Paginated form submissions

  /forms/{id}/submit:
    post:
      operationId: submitForm
      summary: Submit a form (public, no auth)
      tags: [Forms]
      security: []
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Key-value pairs matching the form's field definitions
      responses:
        "200":
          description: Submission accepted

  # ──────────────────────────────────────────────
  # Invoices
  # ──────────────────────────────────────────────
  /invoices:
    get:
      operationId: listInvoices
      summary: List invoices
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
      responses:
        "200":
          description: Paginated invoices
    post:
      operationId: createInvoice
      summary: Create an invoice
      tags: [Invoices]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoiceCreate"
      responses:
        "201":
          description: Invoice created

  /invoices/next-number:
    get:
      operationId: getNextInvoiceNumber
      summary: Get the next auto-incremented invoice number
      tags: [Invoices]
      responses:
        "200":
          description: Next invoice number

  /invoices/{id}:
    get:
      operationId: getInvoice
      summary: Get an invoice by ID
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Invoice details with line items
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateInvoice
      summary: Update an invoice
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Invoice updated
    delete:
      operationId: deleteInvoice
      summary: Delete an invoice
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Invoice deleted

  /invoices/{id}/send:
    post:
      operationId: sendInvoice
      summary: Send an invoice via email
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Invoice sent

  /invoices/{id}/void:
    post:
      operationId: voidInvoice
      summary: Void an invoice
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Invoice voided

  /invoices/{id}/pdf:
    get:
      operationId: getInvoicePdf
      summary: Download invoice as PDF
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: PDF file
          content:
            application/pdf:
              schema:
                type: string
                format: binary

  /invoices/{id}/payment-link:
    post:
      operationId: createInvoicePaymentLink
      summary: Create a Stripe payment link for an invoice
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Payment link URL

  /invoices/{id}/payments:
    get:
      operationId: listInvoicePayments
      summary: List payments for an invoice
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Payments for this invoice
    post:
      operationId: recordInvoicePayment
      summary: Record a manual payment against an invoice
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount:
                  type: number
                  format: double
                method:
                  type: string
                  default: card
                reference:
                  type: string
                notes:
                  type: string
      responses:
        "201":
          description: Payment recorded

  # ──────────────────────────────────────────────
  # Products
  # ──────────────────────────────────────────────
  /products:
    get:
      operationId: listProducts
      summary: List products
      tags: [Products]
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
      responses:
        "200":
          description: Paginated products
    post:
      operationId: createProduct
      summary: Create a product
      tags: [Products]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductCreate"
      responses:
        "201":
          description: Product created

  /products/{id}:
    get:
      operationId: getProduct
      summary: Get a product by ID
      tags: [Products]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Product details
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateProduct
      summary: Update a product
      tags: [Products]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Product updated
    delete:
      operationId: deleteProduct
      summary: Delete a product
      tags: [Products]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Product deleted

  # ──────────────────────────────────────────────
  # Notifications
  # ──────────────────────────────────────────────
  /notifications:
    get:
      operationId: listNotifications
      summary: List notifications
      tags: [Notifications]
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PerPageParam"
      responses:
        "200":
          description: Paginated notifications
    post:
      operationId: createNotification
      summary: Create a notification
      tags: [Notifications]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId, type, title, message]
              properties:
                userId:
                  type: string
                  format: uuid
                type:
                  type: string
                  enum: [deal_won, deal_lost, deal_stalled, task_due, task_overdue, mention, system]
                title:
                  type: string
                message:
                  type: string
                metadata:
                  type: object
      responses:
        "201":
          description: Notification created

  /notifications/{id}:
    patch:
      operationId: markNotificationRead
      summary: Mark a notification as read
      tags: [Notifications]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                isRead:
                  type: boolean
      responses:
        "200":
          description: Notification updated

  /notifications/read-all:
    post:
      operationId: markAllNotificationsRead
      summary: Mark all notifications as read
      tags: [Notifications]
      responses:
        "200":
          description: All notifications marked as read

  # ──────────────────────────────────────────────
  # Files
  # ──────────────────────────────────────────────
  /files:
    get:
      operationId: listFiles
      summary: List file attachments
      tags: [Files]
      parameters:
        - name: entity_type
          in: query
          schema:
            type: string
            enum: [contact, deal, company]
        - name: entity_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: File list
    post:
      operationId: createFileRecord
      summary: Create a file attachment record
      tags: [Files]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entityType, entityId, fileName, fileUrl, fileSize, contentType]
              properties:
                entityType:
                  type: string
                  enum: [contact, deal, company]
                entityId:
                  type: string
                  format: uuid
                fileName:
                  type: string
                fileUrl:
                  type: string
                  format: uri
                fileSize:
                  type: integer
                contentType:
                  type: string
      responses:
        "201":
          description: File record created
    delete:
      operationId: deleteFile
      summary: Delete a file attachment
      tags: [Files]
      responses:
        "200":
          description: File deleted

  /files/upload:
    post:
      operationId: uploadFile
      summary: Upload a file
      tags: [Files]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                entityType:
                  type: string
                entityId:
                  type: string
      responses:
        "200":
          description: File uploaded

  # ──────────────────────────────────────────────
  # API Keys
  # ──────────────────────────────────────────────
  /api-keys:
    get:
      operationId: listApiKeys
      summary: List API keys (owner/admin only)
      description: Returns API key metadata. Never returns the full key.
      tags: [API Keys]
      responses:
        "200":
          description: List of API keys
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataEnvelope"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      operationId: createApiKey
      summary: Generate a new API key (owner/admin only)
      description: Returns the full key exactly once. Store it securely.
      tags: [API Keys]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                scopes:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: API key created (includes full key)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      keyPrefix:
                        type: string
                      key:
                        type: string
                        description: Full API key (shown once)
                      createdAt:
                        type: string
                        format: date-time
        "403":
          $ref: "#/components/responses/Forbidden"

  /api-keys/{id}:
    delete:
      operationId: revokeApiKey
      summary: Revoke an API key
      tags: [API Keys]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: API key revoked

  # ──────────────────────────────────────────────
  # Users
  # ──────────────────────────────────────────────
  /users:
    get:
      operationId: listUsers
      summary: List team members
      tags: [Users]
      responses:
        "200":
          description: Team member list

  /users/invite:
    post:
      operationId: inviteUser
      summary: Invite a team member
      tags: [Users]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, role]
              properties:
                email:
                  type: string
                  format: email
                role:
                  type: string
                  enum: [admin, member]
      responses:
        "200":
          description: Invitation sent
        "400":
          $ref: "#/components/responses/BadRequest"

  /users/{id}:
    get:
      operationId: getUser
      summary: Get a team member by ID
      tags: [Users]
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: User details
        "404":
[...]
